n8n/whatsapp-ai-bot.json
{
  "id": "ktm-mall-wa-ai-bot-001",
  "name": "KTM Mall — WhatsApp AI Sales Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ktm-mall-wa-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "ktm-mall-wa-bot"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\n// Only handle real incoming messages (not status updates, not our own messages)\nconst event = body.event || '';\nif (!['messages.upsert', 'messages.update'].includes(event)) {\n  return [{ json: { skip: true, reason: 'not a message event: ' + event } }];\n}\n\nconst data = body.data || {};\nconst key = data.key || {};\n\n// Skip messages we sent (fromMe)\nif (key.fromMe === true) {\n  return [{ json: { skip: true, reason: 'fromMe message' } }];\n}\n\n// Extract message text\nconst msg = data.message || {};\nconst text = msg.conversation ||\n             (msg.extendedTextMessage && msg.extendedTextMessage.text) ||\n             (msg.imageMessage && msg.imageMessage.caption) ||\n             '';\n\nif (!text.trim()) {\n  return [{ json: { skip: true, reason: 'no text content' } }];\n}\n\n// Clean phone number from JID (remove @s.whatsapp.net, keep digits)\nconst jid = key.remoteJid || '';\nconst rawPhone = jid.replace('@s.whatsapp.net', '').replace('@c.us', '');\n// Normalize: strip country code prefix for Sheet lookup (store as 98XXXXXXXX)\nconst phoneForLookup = rawPhone.startsWith('977') ? rawPhone.slice(3) : rawPhone;\n\nconst senderName = data.pushName || 'ji';\nconst instanceName = body.instance || 'n8nbot';\n\nreturn [{\n  json: {\n    skip: false,\n    jid,           // full JID for sending reply\n    rawPhone,      // with country code\n    phoneForLookup,// without country code for sheet match\n    text: text.trim(),\n    senderName,\n    instanceName,\n    timestamp: data.messageTimestamp || Date.now()\n  }\n}];\n"
      },
      "id": "node-parse",
      "name": "Parse Incoming Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-filter-skip",
      "name": "Skip non-messages",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "=1HxyzZNhmPXU3LLjk1STczPQFA4XMktWsruQ6MmKXHJc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {
          "where": {
            "values": [
              {
                "column": "WhatsApp",
                "condition": "contains",
                "value": "={{ $json.phoneForLookup }}"
              }
            ]
          }
        }
      },
      "id": "node-get-lead",
      "name": "Get Lead from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge incoming message context with lead data from sheet\nconst msg = $('Parse Incoming Message').first().json;\nconst leads = $input.all();\n\n// Find the matching lead row\nconst lead = leads.find(l => {\n  const wa = (l.json.WhatsApp || l.json.Phone || '').replace(/\\D/g, '');\n  return wa.includes(msg.phoneForLookup) || msg.rawPhone.includes(wa.slice(-8));\n});\n\nconst leadName = lead ? (lead.json.Name || msg.senderName) : msg.senderName;\nconst spaceName = lead ? (lead.json.Space || '') : '';\nconst priceLabel = lead ? (lead.json.Price || '') : '';\nconst currentStatus = lead ? (lead.json.Status || 'NEW') : 'UNKNOWN';\nconst rowNumber = lead ? lead.json._rowNumber : null;\n\n// Build system prompt with full KTM Mall inventory\nconst systemPrompt = `You are Sales AI Agent, a warm and professional sales executive at Dreams Media & Marketing — the exclusive advertising partner for The Kathmandu Mall, Sundhara, Kathmandu, Nepal.\n\nYou are chatting with a potential advertiser on WhatsApp. Keep replies SHORT (2-4 sentences max). Be warm, clear, and helpful. Reply in whatever language the client uses (Nepali or English).\n\nADVERTISING SPACES AVAILABLE:\n1. Main Gate Pillar Wrap — Rs. 40,000/month | Exterior | Massive visibility, 500k+ footfall/month\n2. Main Gate Hoarding (Large) — Rs. 60,000/month | Exterior | 12ft x 6ft prime gate position\n3. Main Gate Hoarding (Small) — Rs. 35,000/month | Exterior | 6ft x 4ft gate side panel\n4. Façade Light Board (Flagship) — Rs. 25,00,000/year | Exterior | 500+ sqft, landmark visibility from highway\n5. Façade Panel (Mid) — Rs. 80,000/month | Exterior | 200 sqft building face\n6. Parking Hoarding A — Rs. 25,000/month | Parking | Premium spot, eye-level near entrance\n7. Parking Hoarding B — Rs. 20,000/month | Parking | High dwell time, covered area\n8. Parking Hoarding C — Rs. 15,000/month | Parking | Budget option, exit ramp\n9. Pillar Wrap (Premium) — Rs. 12,000/month | Interior | Main atrium pillars, 360° wrap\n10. Pillar Standard — Rs. 4,000/month | Interior | Side corridor pillars\n11. Stair Soffit Board Tier A — Rs. 15,000/month | Stairs | Above main staircase, premium\n12. Stair Soffit Board Tier B — Rs. 12,000/month | Stairs | Mid staircase\n13. Stair Soffit Board Tier C — Rs. 10,000/month | Stairs | Upper staircase\n14. Floor Hoarding GF — Rs. 35,000/month | Ground Floor | Largest foot traffic zone\n15. Floor Hoarding 1F — Rs. 25,000/month | Floor 1 | High shopper density\n16. Floor Hoarding 2F — Rs. 20,000/month | Floor 2 | Food court adjacent\n17. Lift Branding (All Floors) — Rs. 8,000/month | Interior | Every floor, high dwell time\n18. Lift Door Wrap — Rs. 6,000/month | Interior | 4 lift doors, eye-level\n19. Escalator Side Panel — Rs. 10,000/month | Interior | Both escalators, captive audience\n20. Washroom Entry Panel — Rs. 5,000/month | Interior | High repeat visibility\n21. Entrance Gate Banner — Rs. 18,000/month | Main Gate | Full-width entry banner\n22. Rooftop Billboard — Rs. 1,20,000/month | Exterior | Visible from Ring Road\n23. Parking Entry Arch — Rs. 45,000/month | Parking | First impression on entry\n24. Interior Ceiling Drop — Rs. 30,000/month | Interior | Hanging display, atrium\n25. Directory Board Branding — Rs. 8,000/month | Interior | All floor directories\n\nMINIMUM BOOKING: 1 month. Discounts available for 3+ months (5%) or 6+ months (10%).\nCONTACT: Dreams Media & Marketing | WhatsApp: +977-9860499000 | info.dreamsmarketing@gmail.com\n\nCURRENT CLIENT CONTEXT:\n- Name: ${leadName}\n- Space they enquired about: ${spaceName || 'Not specified — ask them'}\n- Rate: ${priceLabel || 'To be confirmed'}\n- Status: ${currentStatus}\n\nCONVERSATION RULES:\n- NEVER quote discounts >10% without saying 'let me check with our manager'\n- If they want to book → ask for: brand name, campaign duration, preferred start date\n- If they ask for a site visit → say 'Absolutely! When works best for you this week?'\n- If budget too low → suggest a smaller alternative space\n- BUYING SIGNAL DETECTION: If client says yes/interested/book/visit/confirm/kati/garnu/hajur in a positive context, end your reply with the exact tag: [HOT_LEAD]\n- ESCALATE: If complex custom deal or aggressive negotiation, end reply with: [ESCALATE]`;\n\nreturn [{\n  json: {\n    ...msg,\n    leadName,\n    spaceName,\n    priceLabel,\n    currentStatus,\n    rowNumber,\n    systemPrompt,\n    userMessage: msg.text\n  }\n}];\n"
      },
      "id": "node-build-context",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-lite:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=AIzaSyCalNkYiHnqc5E-l_a6MdZEmyGsLl6X5fA"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"systemInstruction\": {\n    \"parts\": [{ \"text\": {{ JSON.stringify($json.systemPrompt) }} }]\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [{ \"text\": {{ JSON.stringify($json.userMessage) }} }]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 300,\n    \"topP\": 0.95\n  }\n}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "node-gemini",
      "name": "Gemini 1.5 Flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const geminiResp = $input.first().json;\nconst ctx = $('Build AI Context').first().json;\n\n// Extract text from Gemini response\nlet replyText = '';\ntry {\n  replyText = geminiResp.candidates[0].content.parts[0].text || '';\n} catch(e) {\n  replyText = 'Namaste! Thank you for your interest. Our team will contact you shortly. 🙏';\n}\n\n// Detect signals\nconst isHotLead = replyText.includes('[HOT_LEAD]');\nconst isEscalate = replyText.includes('[ESCALATE]');\n\n// Clean tags from reply before sending to client\nconst cleanReply = replyText\n  .replace('[HOT_LEAD]', '')\n  .replace('[ESCALATE]', '')\n  .trim();\n\nreturn [{\n  json: {\n    ...ctx,\n    replyText: cleanReply,\n    isHotLead,\n    isEscalate,\n    needsUpdate: isHotLead || isEscalate\n  }\n}];\n"
      },
      "id": "node-parse-reply",
      "name": "Parse AI Reply + Detect Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:8080/message/sendText/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "B7kR9mX2pQ4nL6wT8vY3cF5hJ0dA3sE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.jid }}\",\n  \"text\": {{ JSON.stringify($json.replyText) }},\n  \"delay\": 1500\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-reply-lead",
      "name": "Reply to Lead on WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "cond-hot",
              "leftValue": "={{ $json.isHotLead || $json.isEscalate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-check-signal",
      "name": "Hot Lead or Escalate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1HxyzZNhmPXU3LLjk1STczPQFA4XMktWsruQ6MmKXHJc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "=={{ $json.isEscalate ? 'ESCALATE' : 'HOT' }}",
            "Notes": "=={{ $json.isEscalate ? 'ESCALATE: Complex query — human needed' : 'HOT LEAD: Buying signal detected at ' + new Date().toISOString() }}"
          },
          "matchingColumns": [
            "_rowNumber"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "node-update-hot",
      "name": "Update Sheet: HOT or ESCALATE",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2000,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:8080/message/sendText/{{ $('Parse AI Reply + Detect Signal').first().json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "B7kR9mX2pQ4nL6wT8vY3cF5hJ0dA3sE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"9779860499000@s.whatsapp.net\",\n  \"text\": \"🔥 *{{ $('Parse AI Reply + Detect Signal').first().json.isEscalate ? 'ESCALATE — Human Needed' : 'HOT LEAD — Buying Signal!' }}*\\n\\n👤 Name: {{ $('Parse AI Reply + Detect Signal').first().json.leadName }}\\n📱 Phone: {{ $('Parse AI Reply + Detect Signal').first().json.rawPhone }}\\n🏢 Space: {{ $('Parse AI Reply + Detect Signal').first().json.spaceName || 'Ask them' }}\\n💬 Said: {{ $('Parse AI Reply + Detect Signal').first().json.text }}\\n\\n✅ AI replied. Call them NOW to close!\",\n  \"delay\": 500\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-alert-team",
      "name": "Alert Sales Team on WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond",
      "name": "Respond 200 to Evolution",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    }
  ],
  "connections": {
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "Parse Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Incoming Message": {
      "main": [
        [
          {
            "node": "Skip non-messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip non-messages": {
      "main": [
        [
          {
            "node": "Get Lead from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead from Sheet": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "Gemini 1.5 Flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 1.5 Flash": {
      "main": [
        [
          {
            "node": "Parse AI Reply + Detect Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Reply + Detect Signal": {
      "main": [
        [
          {
            "node": "Reply to Lead on WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hot Lead or Escalate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead or Escalate?": {
      "main": [
        [
          {
            "node": "Update Sheet: HOT or ESCALATE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Sales Team on WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 to Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet: HOT or ESCALATE": {
      "main": [
        [
          {
            "node": "Respond 200 to Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Sales Team on WhatsApp": {
      "main": [
        [
          {
            "node": "Respond 200 to Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to Lead on WhatsApp": {
      "main": [
        [
          {
            "node": "Respond 200 to Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-05T00:00:00.000Z",
  "versionId": "1"
}